/* --------------------------------------
   11. Sidebar
-----------------------------------------*/
.login-wrap .login-body {
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.login-wrap .login-body .login-title {
	position: relative;
	display: inline-block;
	font-size: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Noto Sans JP', sans-serif;
	margin-top: 60px;
	margin-bottom: 40px;
}

.login-wrap .login-body .login-title:before {
    content: '';
    position: absolute;
    bottom: 15px;
    right: -31px;
    width: 18px;
    height: 2px;
    border-radius: 20px;
    background-color: #f3a079;
}

.login-wrap .login-body input[type="text"] {
	padding: 12px 18px;
	font-size: 14px;
	margin-bottom: 10px;
	width: 400px;
	border: 1px solid #dedede;
	color: #292929;
	line-height: normal;
	border-radius: 10px;
}

.login-wrap .login-body input[type="text"]:focus
	{
	outline: none;
}

.login-wrap .login-body input[type="password"] {
	padding: 12px 18px;
	margin-bottom: 10px;
	width: 400px;
	border: 1px solid #dedede;
	color: #292929;
	line-height: normal;
	border-radius: 10px;
}

.login-wrap .login-body input[type="password"]:focus
	{
	outline: none;
}

.login-wrap .login-body input[type="submit"] {
	background-color: #f3a079;
	border: none;
	color: #fff;
	padding: 12px 40px;
	border-radius: 10px;
	font-size: 14px;
	width: 400px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.login-wrap .login-body input[type="submit"]:hover
	{
	background-color: #f97785;
}

.login-wrap .login-body input[type="submit"]:focus
	{
	outline: none;
}

.login-wrap .login-body .remember-id
	{
	margin-bottom: 18px;
}

.login-wrap .login-body .remember-id label
	{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 13px;
}

/* --------------------------------------
   15. Login
-----------------------------------------*/

.login-form {
	text-align: center;
    margin: 0 auto; 
	width: 400px;
	position: relative;
	margin-top: 20px;
	border-radius: 10px;
}

.login-form .login-body{
	text-align: center;
}

.login-form .login-bottom {
	text-align: center;
}

.login-form .login-bottom a {
	margin-right: 5px;
	font-family: 'Noto Sans JP', sans-serif;
	display: inline-block;
	color: #959595;
	font-size: 13px;
	font-weight: 400;
}

.login-form .login-bottom .remember-id
	{
	margin-left: 5px;
	margin-bottom: 18px;
}

.login-form .login-bottom .remember-id label
	{
	font-family: 'Noto Sans JP', sans-serif;
	display: inline-block;
	color: #959595;
	font-size: 13px;
	font-weight: 400;
}

.login-form .form-group {
	display: block;
}

.login-form .form-group .form-control:focus {
	border: 1px solid #dedede;
	outline: 0;
	box-shadow: none;
}

.login-form input, .login-form textarea {
	max-width: 400px;
	padding: 12px 15px;
	border: 1px solid #dedede;
	color: #292929;
	line-height: normal;
	border-radius: 10px;
	height: auto;
	outline: none;
	box-shadow: none;
}

.login-form .login-btn {
	width: 400px;
	margin-bottom: 18px;
	min-width: 150px;
	background-color: #f3a079;
	border: none;
	color: #fff;
	padding: 12px 25px;
	border-radius: 10px;
	font-size: 14px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.login-form .login-btn:hover {
	background-color: #f97785;
}

.login-form input:focus, .login-form textarea:focus {
	outline: none;
}

.login-form textarea {
	min-height: 155px;
	resize: none;
	border-radius: 10px;
}

.login-form .form-message {
	position: absolute;
	left: 0;
	bottom: -57px;
	width: 100%;
	color: #fff;
	border-radius: 5px;
	font-size: 15px;
	padding: 12px;
	text-transform: uppercase;
}

.login-form .form-message.success {
	background-color: #37983b;
}

.login-form .form-message.error {
	background-color: #f54033;
}